
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    max-width: 540px;
}
#form{
    padding: 1.5rem;
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input{
    padding: 0.5rem;
}
button{
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1rem;
}
button:hover{
    background-color: rgb(57, 96, 251);
    cursor: pointer;
}